body {
    background: url("../vendor/img/background/wallpaper_1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 30px;
}

#start-purchase-btn {
    background-color: #23364e;
    border-color: #23364e;
    color: white;
}

#start-purchase-link {
    text-decoration: none;
    color: white;
}

#promotional-text {
    font-weight: 600;
}